div.task-7 > ol {
    display: block;
    list-style-type: decimal;
}
div.task-7 > ol > li,
div.task-7 > ul > li {
    display: list-item;
    text-align: left;
}
div.task-7 > a {
    color: var(--light);
    display: inline;
    margin-bottom: 1em;
}
div.task-7 > a:hover {
    color: var(--medium);
    cursor: pointer;
}
div.task-7 > h1 {
    font-size: 1.25em;
    font-weight: bold;
}
div.task-7 > ul {
    display: block;
    list-style-type: disc;
}