div.task-6 > button {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 0.25em solid var(--light);
    border-radius: 2em;
    padding: 0.5em;
}
div.task-6 > button:hover {
    background-color: var(--light);
    cursor: pointer;
    color: var(--dark);
}