.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 0.15em solid var(--primary_color);
    color: var(--primary_color);
    font-size: 1.35em;
    cursor: pointer;
    transition: 250ms;
}
.Button:hover,
.Active {
    background-color: var(--primary_color);
    color: var(--secondary_color_3);
}