.Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12.5dvh;
    background-color: var(--primary_color);
    color: var(--secondary_color_3);
}