@media screen and (min-width: 1025px) {
    main {
        height: 80dvh;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
    }
    main > section { 
        scroll-snap-align: start;
    }
    body {
        overflow-y: hidden;
    }
} 