html {
    scrollbar-width: thin;
    scrollbar-width: thin;
    scrollbar-color: var(--normal_col) var(--dark_col);
}
#catalogue {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    margin: 2em;
    box-sizing: border-box;
    gap: 2em;
}
.catalogue-item {
    display: flex;
    width: 16em;
    aspect-ratio: 1;
    border: 0.15em solid var(--dark_col);
    border-radius: 1em;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.catalogue-item * {
    width: 100%;
    height: 100%;
}