#modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000a0;
    color: var(--normal_col);
    top: 0;
}
.description {
    position: relative;
    display: flex;
    width: 60%;
    height: fit-content;
    background-color: var(--dark_col);
    border-radius: 1em;
    flex-flow: row nowrap;
    padding: 2em;
}
#close-modal {
    top: 0.25em;
    right: 0.25em;
    position: absolute;
    font-size: 2em;
    color: var(--normal_col);
    cursor: pointer;
}
#close-modal:hover {
    color: var(--bright_col);
}
.description img {
    margin: 1em;
    width: 12em;
    height: 12em;
    border-radius: 1em;
}
.description h2 {
    margin-bottom: 0.5em;
}