:root {
    --primary_color: rgb(43, 28, 57);
    --secondary_color_1: rgb(132, 175, 179);
    --secondary_color_2: rgb(2, 44, 58);
    --secondary_color_3: rgb(237, 230, 214);
    --secondary_color_3_transparent: rgba(237, 230, 214, 0.5);

    scrollbar-width: thin;
    scrollbar-color: var(--secondary_color_3) var(--primary_color);
}