html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}
body * {
    all: unset;
    font: 16px sans-serif;
    color: var(--light);
}
:root {
    --dark: #111;
    --medium: #555;
    --light: #DDD;
}