header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    width: 80%;

    background-color: var(--dark);

    padding: 1em;
    box-sizing: border-box;

    border: 0.25em solid var(--light);
    border-radius: 2em;

    font-weight: bold;
}
header > h1 {
    font-size: 2em;
}
header > h2 {
    font-size: 1em;
    opacity: 0.75;
}