section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    width: 80%;

    background-color: var(--dark);

    padding: 1em;
    box-sizing: border-box;

    border: 0.25em solid var(--light);
    border-radius: 2em;
}
section > h1 {
    font-size: 1.5em;
    font-weight: bold;
}
hr {
    color: var(--light);
    display: block;
    height: 0.25em;
    width: 100%;
    background-color: var(--light);
    margin: 1em 0;
}
div.task-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column nowrap;
    width: 100%;
    text-align: center;
}