.Wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    height: 87.5dvh;

    background-color: var(--primary_color);
    width: 100%;
    flex-flow: column nowrap;
    padding-top: 3em;
    gap: 2em;
}
