.Wrapper {
    color: var(--primary_color);
    text-decoration: none;
    border: 0.2dvw solid var(--primary_color);
    border-radius: 1.5dvw;
    padding: 0.1em 0.25em;
}
.Wrapper:hover, .Tag:hover {
    color: var(--secondary_color_1);
    border-color: var(--secondary_color_1);
}
.Tag {
    font-size: 0.9rem;
    color: var(--primary_color);
    text-decoration: none;
}
.Wrapper, .Tag {
    transition: 250ms;
}

