@media screen and (min-width: 1025px) and (max-width: 1366px) {
    html {
        font-size: 1.1dvw;
    }
    p {
        font-size: 1.25em;
    }
    main > section {
        padding: 0 10em;
    }
}