@media screen and (min-width: 1025px) and (max-width: 1366px) {
    html {
        font-size: 1.1dvw;
    }
    p {
        font-size: 1.25em;
    }
    main > section {
        padding: 0 10em;
    }
}

@media screen and (min-width: 1025px) {
    main {
        height: 80dvh;

        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;

        scrollbar-width: thin;
        scrollbar-color: var(--normal_col) var(--dark_col);
    }
    main > section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
    
        height: 100%;
        background-color: var(--normal_col);
    
        scroll-snap-align: start;
    }
} 