@media screen and (max-width: 1024px) {
    footer {
        display: flex;
        flex-flow: column-reverse nowrap;
        gap: 0.5em;
        padding: 0 0 0.5em 0;
    }
    .social-media.wrapper > *{
        width: 3em;
    }
    #contact-form {
        display: flex;
        align-items: center;
        width: fit-content;
        margin: 0 auto;
    }
}