@media screen and (min-width: 1025px) {
    main {
        scrollbar-width: thin;
        scrollbar-color: var(--normal_col) var(--dark_col);
    }
    main > section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
    
        height: 100%;
        background-color: var(--normal_col);
    }
    .social-media.wrapper {
        position: absolute;
        right: 0;
        height: 100%;
        padding: 0 1dvh;
    }
} 