.Wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10dvh;
    gap: 1.25dvh;
    padding: 1.25dvh;
    background-color: var(--secondary_color_3);
    border: 0.15em solid var(--primary_color);
}